flows/Conversica_DA_Standalone_Reengage_Website_Form-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Unconverted Leads</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].Campaign_Name__c = &quot;MapleAdvance.com Form&quot; &amp;&amp;
(
ISPICKVAL([Lead].Lead_Status__c, &quot;New&quot;) ||
ISPICKVAL([Lead].Lead_Status__c, &quot;Follow Up&quot;) ||
ISPICKVAL([Lead].Lead_Status__c, &quot;Contacted: Follow Up&quot;) ||
ISPICKVAL([Lead].Lead_Status__c, &quot;Contacted: Needs More Info&quot;) ||
ISPICKVAL([Lead].Lead_Status__c, &quot;No Answer / Busy / Dropped&quot;) ||
ISPICKVAL([Lead].Lead_Status__c, &quot;Reengage&quot;)
) &amp;&amp; 
(
[Lead].No_Answer_Counter__c &gt;10 ||
[Lead].Follow_Up_Attempts__c &gt; 4 ||
TODAY() - [Lead].New_Lead_Stage_Date__c &gt;= 15
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Campaign_Name__c} = &quot;MapleAdvance.com Form&quot; &amp;&amp;
(
ISPICKVAL({!myVariable_current.Lead_Status__c}, &quot;New&quot;) ||
ISPICKVAL({!myVariable_current.Lead_Status__c}, &quot;Follow Up&quot;) ||
ISPICKVAL({!myVariable_current.Lead_Status__c}, &quot;Contacted: Follow Up&quot;) ||
ISPICKVAL({!myVariable_current.Lead_Status__c}, &quot;Contacted: Needs More Info&quot;) ||
ISPICKVAL({!myVariable_current.Lead_Status__c}, &quot;No Answer / Busy / Dropped&quot;) ||
ISPICKVAL({!myVariable_current.Lead_Status__c}, &quot;Reengage&quot;)
) &amp;&amp; 
(
{!myVariable_current.No_Answer_Counter__c} &gt;10 ||
{!myVariable_current.Follow_Up_Attempts__c} &gt; 4 ||
TODAY() - {!myVariable_current.New_Lead_Stage_Date__c} &gt;= 15
)</expression>
    </formulas>
    <interviewLabel>Conversica_DA_Standalone_Reengage_Website_Form-2_InterviewLabel</interviewLabel>
    <label>Conversica DA Standalone Reengage Website Form</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Campaign Member</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Campaign ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>CampaignId</field>
            <value>
                <stringValue>701f4000000e30OAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Lead ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>LeadId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
